<h1>Cylindrical screen</h1>
<h2>System data</h2>
<h3>Surface</h3>
<ul>
    <li>Radius (R): {surface.radius:d} mm</li>
    <li>Height: {surface.height:d} mm</li>
    <li>Chord length (width): {surface.chord:d} mm</li>
    <li>Chord height (CH): {surface.chord_height:d} mm</li>
    <li>Arc angle {surface.angle:.02f} deg</li>
    <li>Arc length {arc_length:d} mm</li>
</ul>
<h3>Projection</h3>
<ul>
    <li>Throw ratio {ratio:.02f}:1</li>
    <li>Throw distance {throw:d} mm</li>
</ul>
<h3>Coefficients</h3>
<ul>
    <li>R/TD: {aspect1:.02f}</li>
    <li>R/(TD+CH): {aspect2:.02f}</li>
</ul>
<p>Used with projector manual to check internal projector geometry correction.</p>

<h2>Schemes</h2>
<h3>Side view</h3>
<p><img src="dynamic:/images/cs_side.png"/></p>
<h3>Top view</h3>
<p><img src="dynamic:/images/cs_top.png"/></p>
