<h1>Screen selection for room</h1>
<h2>Room information</h2>
<h3>Sizes</h3>
<ul>
    <li>width: {room.width} mm;</li>
    <li>length: {room.length} mm;</li>
    <li>height: {room.height} mm.</li>
</ul>

<h3>Viewers placement</h3>
<ul>
    <li>nearest viewer: {angular.near} mm;</li>
    <li>farthest viewer: {angular.far} mm;</li>
    <li>use factor multiplier: {usage_factor}.</li>
</ul>

<h2>Screen limits</h2>
<ul>
    <li>height limit: {limit_height} mm;</li>
    <li>maximum distance for ufe factor multiplier and height limit {limit_distance} mm;</li>
    <li>screen height from {limit_minimal} to {limit_maximal} mm;</li>
    <li>maximal diagonal: {limit_diagonal} mm.</li>
</ul>
<p>
    {comment}
</p>

<h2>Screen</h2>
<ul>
    <li>Aspect ratio {aspect_ratio};</li>
    <li>diagonal: {screen.diagonal_inch}" ({screen.diagonal} mm);</li>
    <li>width: {screen.width} mm;</li>
    <li>height: {screen.height} mm;</li>
    <li>area: {area} square meters.</li>
</ul>

<h2>Schemes</h2>
<h3>Side view</h3>
<p><img src="dynamic:/images/rs_side.png"/></p>
<h3>Top view</h3>
<p><img src="dynamic:/images/rs_top.png"/></p>
